<div class="container">
  <h1>Hello from to do</h1>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create To DO List</h3>
    </div>
    <div class="panel-body">

      <div class="form-group">
        <label class="col-sm-2 control-label" for="fullName"> New Item</label>
        <div class="col-sm-6">
          <input id="fullName" [(ngModel)]="newItem" autocomplete="off" type="text" class="form-control" (keydown.enter)="addItemToList()">
        </div>

        <div class="btn-toolbar">
          <button class="btn btn-success" type="button" (click)="addItemToList()" >Add</button>
          <button class="btn btn-danger" type="button" (click)="clearList()" >Clear List</button>
        </div>
      </div>

      <div class="form-group ">
        <div *ngIf="itemsList"  class="center-block ">
          <div *ngFor="let item of itemsList; let i = index" [ngClass]="{checked: item.done}" class="divlayout" (click)="updateItem(item, i, $event)">
            <div class="checkbox-label">
              <input [(ngModel)]="item.done" type="checkbox">
              <label class="label-text">{{item.name}}</label>
            </div>
            <div class="remove-item" *ngIf="!item.done">
              <span class="glyphicon glyphicon-trash" (click)="removeItemToList(item, i)"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
