.divlayout{
  background-color: #F64223;
  width: 400px;
  margin: 5px auto;
  padding: 10px 10px;
  border: 2px solid #333;
  overflow: auto;
}

.divlayout.checked {
  background-color: #5CB85C;
  text-decoration: line-through;
}

.remove-item {
  float: right;
  margin-right: 5px;
}

.remove-item .glyphicon {
  top: 4px;
}

.remove-item:hover {
  color: gray;
}

.checkbox-label {
  float: left;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  margin-left: 10px;
  vertical-align: text-bottom;
}

/* Might want to wrap a span around your checkbox text */
.label-text {
  /* Checkbox text */
  font-size: 110%;
  display: inline;
  margin-left: 10px;
}

.checked .label-text {
  text-decoration: line-through;
  color: gray;
}
